#convert all files to the native line endings of the platform
* text=auto

#declare files that will always have LF ( linux line endings ) line endings on checkout
*.sh text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf